<pixi-container>
  <!-- draw game tiles -->
  @for (entry of game.map; track entry[0]) {
    @let pos = game.parseCoords(entry[0]);
    @let tile = entry[1];
    <pixi-sprite [texture]="getTileTexture(tile)" [x]="pos.x * TILE_WIDTH" [y]="pos.y * TILE_WIDTH" [width]="TILE_WIDTH" [height]="TILE_WIDTH"/>
  }
  <!-- draw empty neighbour tiles-->
  @for (entry of game.emptyNeighbourTiles; track entry[0]) {
    @let coord = entry[0];
    @let pos = game.parseCoords(coord);
    <pixi-graphics #emptyTile [x]="pos.x * TILE_WIDTH" [y]="pos.y * TILE_WIDTH"
                   [rect]="TILE_RECT_STRING"
                   [stroke]="{ width: 1, color: 'red' }"
                   eventMode="static"
                   [hitArea]="TILE_RECT"
                   (click)="onClickEmptyTile(coord)"
                   (mouseover)="hoverTile(emptyTile, coord)"
                   (mouseleave)="unhoverTile(emptyTile, coord)"
    />
  }
</pixi-container>
