<pixi-container #container>
  <!-- draw game tiles -->
  @for (entry of game.map; track entry[0]) {
    @let pos = game.parseCoords(entry[0]);
    @let tile = entry[1];
    <pixi-sprite [texture]="getTileTexture(tile)"
                 [x]="pos.x * TILE_WIDTH + TILE_WIDTH / 2" [y]="pos.y * TILE_WIDTH + TILE_WIDTH / 2"
                 [width]="TILE_WIDTH" [height]="TILE_WIDTH"
                 anchor="0.5"
                 [angle]="tile.rotation * 90"/>
  }
  <!-- draw empty neighbour tiles-->
  @for (entry of game.emptyNeighbourTiles; track entry[0]) {
    @let coords = entry[0];
    @let pos = game.parseCoords(coords);
    <pixi-graphics #emptyTile
                   [x]="pos.x * TILE_WIDTH" [y]="pos.y * TILE_WIDTH"
                   [rect]="TILE_RECT_STRING"
                   [stroke]="{ width: 1, color: 'white' }"
                   eventMode="static"
                   [hitArea]="TILE_RECT"
                   (click)="onClickEmptyTile(coords)"
                   (mouseover)="hoverTile(emptyTile, coords)"
                   (mouseleave)="unhoverTile(emptyTile, coords)"
    />
  }
</pixi-container>
